          {{#if logged_in}}
          <a href="/profile">profile</a> |
          <button class="no-button" id="logout">Logout</button>
          {{else}}
          <a href="/login">Login</a>
          {{/if}}