{{!-- This renders the list of pigs that merges into the "body" of main.handlebars --}}

<h1>Directory</h1>

{{#each pigSend as |piggy|}}
<p>{{piggy.name}}</p>
<p>{{piggy.breed}}</p>
{{/each}}

<p>end pig list</p>