{{!-- This renders the new piglet form that merges into the "body" of main.handlebars  --}}
<div style="display:flex; flex-direction:column; align-items:center">

    <div style="width:300px;text-align: center; ">
            <button id="upload_widget" class="cloudinary-button">Upload Pig-ture</button>
        <form id="newPiggy">
            <p>Name of Piglet</p>
            <input type="text" id="pigName">

            <p>Breed</p>
            <input type="text" id="pigBreed">

            <p>Birth Date (mm/dd/yy)</p>
            <input type="text" id="pigBirthday">

            <p>Sex</p>
            <input type="text" id="pigSex">

            <p>Weight (in lbs)</p>
            <input type="text" id="pigWeight">

            <p>Location</p>
            <input type="text" id="pigLocation">
            
            <p>Farm Name</p>
            <input type="text" id="pigFarm">
            


            <button type="submit" class="primary button expanded search-button" id="submit">List Pig</button>
        </form>

        
    </div>
</div>


<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>  

<script type="text/javascript">  
var myWidget = cloudinary.createUploadWidget({
  cloudName: 'foreverpig', 
  uploadPreset: 'kkzelal2'}, (error, result) => { 
    if (!error && result && result.event === "success") { 
      console.log('Done! Here is the image info: ', result.info); 
    }
  }
)

document.getElementById("upload_widget").addEventListener("click", function(){
    myWidget.open();
  }, false);
</script>

<script src="./assets/js/newPig.js"></script>