<div class="medium-6 large-4 cell">

    <div class="column">
        <!-- pig info card -->
        <div class="card">
            <img src="./assets/images/pigletPics/rufusPiglet.jfif" alt="Rufus-the-Pig">
            <div class="card-divider"><button type="button" class="success button" id="reqButt">Request Info</button>
            </div>
            <div class="card-section">
                <h4>4/5</h4>
                Hi, I'm <strong>Rufus</strong> and I'm a funloving pig that likes to take long walks on the beach and
                eat seafood slop!
            </div>
        </div>
    </div>
</div>
<div class="medium-6 large-8 cell">
    <div class="columns">
        <h2><strong>Rufus</strong></h2>
        <p>Personality: <br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam aut, tempore exercitationem
            nemo inventore voluptas commodi sed corporis harum pariatur? Distinctio dolorem laudantium dolores
            dignissimos explicabo deserunt
            nam asperiores excepturi.</p>
        <p>Weight: <br> 16 lbs.</p>
        <p>Age: <br> 8 Days</p>
        <p>Sex: <br> M</p>
        <p>Location: <br> The South</p>
        <p>Breed: <br> Spotted</p>
    </div>
</div>