<div style="display:flex; flex-direction:column; align-items:center">

    <div style="width:300px;text-align: center; ">
        <form id="loginForm">
            <p>Email</p>
            <input type="text" id="email">

            <p>Password</p>
            <input type="password" id="password">

            <button type="submit" class="primary button expanded search-button" id="submit">Login</button>
        </form>
    </div>
</div>
<script src="./assets/js/login.js"></script>