{{!-- This renders the account page that merges into the "body" of main.handlebars --}}
{{!-- It will contain Name, Email, and a list of pigs that have been requested. --}}

<h1>{{first_name}}'s Page!</h1>